<form style="text-align: center">
    <div *ngFor="let data of dataa, index as i">
        <input type="text" [(ngModel)]="data.id" name="name" class="form-control" />
        <button type="button" (click)="in()">+</button>
        <button *ngIf="dataa.length>1" type="button" (click)="out()">-</button>
    </div>


    <div *ngFor="let data of check, index as i">
        <input type="checkbox" [(ngModel)]="data.id" name="checkk" class="form-control">
        <button type="button" (click)="inn()">+</button>
        <button *ngIf="check.length>1" type="button" (click)="outt()">-</button>
    </div>

    <div *ngFor="let data of sel, index as i">
        <select>
            <option>1</option>
            <option>2</option>
        </select>
        <button type="button" (click)="innn()">+</button>
        <button *ngIf="sel.length>1" type="button" (click)="outtt()">-</button>
    </div>

</form>


<router-outlet></router-outlet>